In [2]:
empty_tuple =()
print (empty_tuple)

()

In [4]:
value_tuple = 25,45,32
print(value_tuple)

(25, 45, 32)

In [6]:
value_tuple2 = (2.69,18,'apple')
print(value_tuple2)

(2.69, 18, 'apple')

In [16]:
tuple = ('hello')
print(tuple, type(tuple))

hello <class 'str'>

In [14]:
tuple = ('hello',)
print(tuple, type(tuple))

('hello',) <class 'tuple'>

In [18]:
#we cannot change the values in tuple ,hence its an error
value_tuple = (26,45,'hello')
value_tuple[1] = 7
print(tuple_value)

TypeError: 'tuple' object does not support item assignment

In [30]:
value1_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")
print(value1_tuple+value2_tuple)

(25, 45, 'hello', 7, 5.5, 'python')

In [28]:
value1_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")
value3_tuple = value1_tuple,value2_tuple
print(value3_tuple)

((25, 45, 'hello'), (7, 5.5, 'python'))

In [32]:
value_tuple = (25,45,'hello')*2
print(value_tuple)

(25, 45, 'hello', 25, 45, 'hello')

In [34]:
#accessing values in tuple
value_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")

In [38]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[3])

7.5

In [40]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[0:])

(25, 45, 'hello', 7.5)

In [74]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:4])

(45, 'hello', 7.5)

In [50]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[-1])

7.5

In [76]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1::1])

(45, 'hello', 7.5, 'z', 5, 6.9)

In [78]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1::3])

(45, 'z')

In [80]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[-1::-2])

(6.9, 'z', 'hello', 26)

In [82]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:6:2])

(45, 7.5, 5)

In [84]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:3:2])

(45,)

In [86]:
#deleting the tuple
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1])
print(value_tuple)

45
(26, 45, 'hello', 7.5, 'z', 5, 6.9)

In [92]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1])
del(value_tuple)

45

In [4]:
tuple =(9,5,89,4,8)
print(max(tuple))
print(min(tuple))
print(sum(tuple))

89
4
115

In [6]:
tuple=(0,1)
print(any(tuple))

True

In [8]:
tuple =(4,1)
print(all(tuple))

True

In [12]:
tuple = ()
print(all(tuple))

True

In [14]:
tuple = ("apple","byte","computer")
print(list(tuple))

['apple', 'byte', 'computer']

In [24]:
value_tuple = (26,45,'hello')
value=['a',]
print(value_tuple)
type(value)

(26, 45, 'hello')

list

In [30]:
value_tuple = (26,45,'hello','hi')
value=('a')
print(value_tuple)
type(value)

(26, 45, 'hello', 'hi')

str

In [32]:
value_tuple = (26,45,'hello')
value=('a',)
print(value_tuple)
type(value)

(26, 45, 'hello')

tuple

In [34]:
#we cannot update the tuple since it was immutable
value_tuple = (26,45,'hello',7.5)
value_tuple[2]='python'
print(value_tuple)

TypeError: 'tuple' object does not support item assignment

In [36]:
value1_tuple = (26,46,'hello')
value2_tuple = (7,5.6,'python')
value = value1_tuple + value2_tuple
print(value)

(26, 46, 'hello', 7, 5.6, 'python')

In [38]:
#nesting can be used by comma also instead of plus(+)sign
value1_tuple = (26,46,'hello')
value2_tuple = (7,5.6,'python')
value = value1_tuple,value2_tuple
print(value)

((26, 46, 'hello'), (7, 5.6, 'python'))

In [40]:
#concatination is possible by giving element with comma then its considered as a tuple
value1_tuple = (26,46,'hello')
value = value1_tuple + (7,)
print(value)

(26, 46, 'hello', 7)

In [48]:
value1_tuple = (26,46,'hello',7)
converted_list=list(value1_tuple)
print(converted_list)

[26, 46, 'hello', 7]

In [7]:
value1_tuple = (26,46,'hello')
converted_tuple = tuple(value1_tuple)
print(converted_tuple)
print(type(converted_tuple))

(26, 46, 'hello')
<class 'tuple'>

In [54]:
#repetation in tuple
value_tuple = (26,45,'hello')*2
print(value_tuple)

(26, 45, 'hello', 26, 45, 'hello')

In [5]:
value = ()
n = int(input("enter the values: "))
list_1 =[]
for i in range(n):
    list_1.append(int(input()))
value = tuple(list_1)
print(value)

enter the values:  2
 5
 8

(5, 8)

In [15]:
#accessing the values in tuple
number = ('one','two','three','four')
i=0
while i<len(number):
    print(number[i])
    i=i+1

one
two
three
four

In [11]:
number = ('one','two','three','four')
for i in number:
    print(i)

one
two
three
four

In [3]:
value_tuple = (26,12,10,6,67,91,45,'hello',7.5,99,7,'Name')
n=len(value_tuple)
for i in value_tuple:
    if i==45:
        print("The value is found")

The value is found

In [7]:
#unpacking the tuples
numbers = ('one','two','three','four')
(a,b,c,d)=numbers
print(a)

one

In [37]:
numbers = ('one','two','three','four')
(*a,b,c,d)= (numbers)
print (type(a))
print(a)

<class 'list'>
['one']

In [33]:
numbers = ('one','two','three','four')
(a,*b,c) = numbers
print(a)
print(*b)
print(c)

one
two three
four