In [3]:
value_set ={2,'python','a',5,9.4}
value_set.remove('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [5]:
value_set ={2,'python','a',5,9.4}
value_set.discard('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [7]:
value_set = {2,4,5,6,7}
print(len(value_set))

5

In [9]:
value_set = {2,4,5,6,7}
print(type(value_set))

<class 'set'>

In [11]:
value_set = {2,4,5,6,7}
print(sum(value_set))

24

In [13]:
value_set = {2,4,5,6,7}
print(min(value_set))

2

In [15]:
value_set = {2,4,5,6,7}
print(max(value_set))

7

In [25]:
value_set = {2,4,5,6,7}
value_set.add(9)
print(value_set)

{2, 4, 5, 6, 7, 9}

In [4]:
values = { 6,'python',5.6}
print(values)
print(type(values))

{'python', 5.6, 6}
<class 'set'>

In [6]:
value={}
type(value)

dict

In [10]:
values=set()
type(values)

set

In [12]:
values = {12,1,2,3,2,45,4,5,3}
print(values)

{1, 2, 3, 4, 5, 12, 45}

In [1]:
set1 = set()
print(set1)
value_set = {2,'python','a',5,9.4}
value_set

set()

{2, 5, 9.4, 'a', 'python'}

In [3]:
value_set[0]

TypeError: 'set' object is not subscriptable

In [5]:
value_set.append("hello")
value_set

AttributeError: 'set' object has no attribute 'append'

In [7]:
value_set = value_set + "hello"
print(value_set)

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [9]:
value_set.add("apple")
print(value_set)

{2, 'a', 5, 9.4, 'python', 'apple'}

In [17]:
#deleting a element in set
value_set = {2,'python','a',5,9.4}
value_set.remove('python')
print(value_set)

{2, 'a', 5, 9.4}

In [19]:
value_set = {2,'python','a',5,9.4}
value_set.remove(6)
print(value_set)

KeyError: 6

In [21]:
value_set = {2,'python','a',5,9.4}
value_set.discard(9.4)
print(value_set)

{2, 'a', 5, 'python'}

In [23]:
value_set = {2,'python','a',5,9.4}
value_set.discard(10)
print(value_set)

{2, 'a', 5, 9.4, 'python'}

In [5]:
#clear or delete 
value_set = {2,'python','a',5,9.4}
value_set.clear()
print(value_set)

set()

In [1]:
value_set = {2,'python','a',5,9.4}
value_set.delete()
print(value_set)

AttributeError: 'set' object has no attribute 'delete'

In [21]:
value_set=set()
n=int(input())
for i in range(n):
    value_set.add(int(input()))

 3
 10
 20
 30

In [23]:
value_set

{10, 20, 30}

In [25]:
for i in value_set:
    print(i)

10
20
30

In [27]:
value_set={6,12,26,10}

In [29]:
n = int(input())
if (value_set==n):
    print("correct")
else:
    print("incorrect")

 4

incorrect

In [3]:
n = int(input())
if n in value_set:
    print("correct")
else:
    print("incorrect")

 6

NameError: name 'value_set' is not defined

In [7]:
month1_set={"jan","feb","mar","apr"}
month2_set={"may","jun","jan","aug"}

In [9]:
month1_set

{'apr', 'feb', 'jan', 'mar'}

In [11]:
month2_set

{'aug', 'jan', 'jun', 'may'}

In [13]:
month = month1_set | month2_set

In [71]:
month

{'apr', 'aug', 'feb', 'jan', 'jun', 'mar', 'may'}

In [73]:
month_common = month1_set.union(month2_set)

In [75]:
month_common

{'apr', 'aug', 'feb', 'jan', 'jun', 'mar', 'may'}

In [15]:
month_inter = month1_set.intersection(month2_set)

In [17]:
month_inter

{'jan'}

In [19]:
common = month1_set & (month2_set)

In [21]:
common

{'jan'}

In [23]:
#diff of two sets
diff = (month1_set - month2_set)
diff

{'apr', 'feb', 'mar'}

In [25]:
diff = (month2_set - month1_set)
diff

{'aug', 'jun', 'may'}

In [27]:
y = month1_set.difference(month2_set)
y

{'apr', 'feb', 'mar'}

In [33]:
#set comparisions
month1_sets = {"jan","feb","dec","mar"}
month2_sets = {"jan","feb"}
x = month1_sets | month2_sets
x

{'dec', 'feb', 'jan', 'mar'}

In [2]:
squares = {X**2 for X in range(5)}
print(squares)

{0, 1, 4, 9, 16}

In [4]:
#creating new set of square values
numbers = [1,2,3,4,5]
squared_num = {X**2 for X in numbers}
print(squared_num)

{1, 4, 9, 16, 25}

In [12]:
#set compherhension with conditions
numbers = [1,2,3,4,5]
even_num = {x**2 for x in numbers if x%2==0}
print(even_num)

{16, 4}

In [14]:
#say the fruit name without vowel
words = ["apple","banana","cherry","lyn"]
vowels={'a','e','i','o','u'}
vowel_word = {word for word in words if any(letter in vowels for letter in word)}
print(vowel_word)

{'banana', 'cherry', 'apple'}

In [18]:
#eliminating duplicates
numbers = [1,2,3,3,4,5,1,6]
unique_squares = {x**2 for x in numbers}
print(unique_squares)

{1, 4, 36, 9, 16, 25}

In [22]:
#set compherehnsion with string manupulation
text = "hello world"
uppercase_letters ={char.upper() for char in text if char.isalpha()}
print(uppercase_letters)

{'E', 'O', 'W', 'H', 'L', 'R', 'D'}