In [3]:
value_set ={2,'python','a',5,9.4}
value_set.remove('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [5]:
value_set ={2,'python','a',5,9.4}
value_set.discard('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [7]:
value_set = {2,4,5,6,7}
print(len(value_set))

5

In [9]:
value_set = {2,4,5,6,7}
print(type(value_set))

<class 'set'>

In [11]:
value_set = {2,4,5,6,7}
print(sum(value_set))

24

In [13]:
value_set = {2,4,5,6,7}
print(min(value_set))

2

In [15]:
value_set = {2,4,5,6,7}
print(max(value_set))

7

In [23]:
value_set = {2,4,5,6,7}
n = add(value_set{9})
print(n)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1382977975.py, line 2)