In [2]:
a=[10,20,30,40,50]

In [6]:
for i in a:
    print(i, end=" ")

10 20 30 40 50

In [16]:
for i in a:
    if i==60:
        print("value found")
        break
else:
        print("not found")

not found

In [29]:
a=[10,20,30,40]
while a[3]:
    print(a, end=" ")
    break

[10, 20, 30, 40]

In [17]:
a=[10,20,30,40]
for i in a:
    if i==50:
        print("value is found")
        break
else:
    print("value is not found")

value is not found

In [49]:
#using memembership logics to find the number(in (or) not in)
a=[10,20,30,40]
for i in a:
    if 50 in a:
        print("value is found")
        break
else:
    print("value is not found")

value is not found

In [47]:
#to find a index value of the number 30
a=[10,20,30,40]
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [57]:
items =[10,20,30,40,50,60,70,80,90]
print(items.index(80))

7

In [126]:
a=[10,20,30,40,50,60,70,80,90,11,22,33,44,55,66,77,88,99,12,24,36,48,54,65]
print(len(a))
print(len(a)-1)
print(a.index(11))

24
23
9

In [1]:
a=list(range(1,30))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [79]:
a[-4]
a[-12]

44

In [81]:
a[-len(a)]

10

In [83]:
information=[1,"ABC",84.9,'a']
print(information)

[1, 'ABC', 84.9, 'a']

In [11]:
information=[1,"ABC",84.9,'a']
information[1]

'ABC'

In [15]:
information=[1,"ABC",84.9,'a']
a="hello"
for i in a:
    information.append(a)
print(information)

[1, 'ABC', 84.9, 'a', 'hello', 'hello', 'hello', 'hello', 'hello']

In [35]:
information=[1,"XYZ",84.9,'a']
information[0:3]

[1, 'XYZ', 84.9]

In [29]:
information=[1,"XYZ",84.9,'a']
information[:0]

[]

In [33]:
information=[1,"XYZ",84.9,'a']
information[1:]

['XYZ', 84.9, 'a']

In [39]:
information=[1,"XYZ",84.9,'a','h','e','l','l','o']
information[::4]

[1, 'h', 'o']

In [41]:
information=[1,"XYZ",84.9,'a','h','e','l','l','o']
information[1:6:2]

['XYZ', 'a', 'e']

In [43]:
information=[1,"XYZ",84.9,'a','h','e','l','l','o']
information[::3]

[1, 'a', 'l']

In [45]:
information=[1,"XYZ",84.9,'a','h','e','l','l','o']
information[::-1]

['o', 'l', 'l', 'e', 'h', 'a', 84.9, 'XYZ', 1]

In [47]:
student_2=[2,"STU",8.58,"Female","India","9553280446"]
print(student_2)

[2, 'STU', 8.58, 'Female', 'India', '9553280446']

In [61]:
student_2=[2,"STU",8.58,"Female","India","9553280446"]
student_2[::-3]

['9553280446', 8.58]

In [63]:
student_2[::2]

[2, 8.58, 'India']

In [89]:
list=input("enter the value")
list*=100
print(list)
print(len(list))

enter the value 1

1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
100

In [91]:
x=int(input())
a=[]
a.append(x)
a=a*100
a

 1

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [101]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
a=[]
for a in range(1,11):
   print(a)
n=[]
for n in range(1,11,2):
    print(n)

1
2
3
4
5
6
7
8
9
10
1
3
5
7
9

In [1]:
list = list(range(1,11))
odd = list[::2]
print(list)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [7]:
list_1 = list(range(1,11,2))
print(list_1)

[1, 3, 5, 7, 9]

In [11]:
list = list(range(1,11))
even = list[1::2]
print(even)

[2, 4, 6, 8, 10]

In [13]:
char = ["apple","banana"]
char2 = [2,2.6,"hello"]
merge = char+char2
print(merge)

['apple', 'banana', 2, 2.6, 'hello']

In [1]:
n=input()
a=[]
for i in n:
    a.append(i)
print(a)

 nandu

['n', 'a', 'n', 'd', 'u']

In [3]:
string = input()
list_1 = list(string)
list_1

 preethi

['p', 'r', 'e', 'e', 't', 'h', 'i']

In [1]:
list_1 = list(input("enter first value: "))
list_2 = list(input("enter the second value: "))
merge = list_1 + list_2
print(merge)

enter first value:  33
enter the second value:  54

['3', '3', '5', '4']

In [3]:
size_of_list_1 = int(input())
list_1=[]
for i in range(size_of_list_1):
    list_1.append(int(input()))
    
print(list_1)

 3
 20
 45
 60

[20, 45, 60]

In [5]:
size_of_list_2 = int(input())
list_2 = []
for i in range (size_of_list_2):
    list_2.append(int(input()))
print(list_2)

 3
 49
 99
 89

[49, 99, 89]

In [26]:
#second largest number in list using map
a = int(input())
b = list(map(int,input().split()))
b.sort()
print(b[-2])

 3
 45 67 89

67

In [23]:
#largest number with split
a = int(input())
b = list(map(int,input().split()))
print(max(b))

 4
 27 78 97 68

97

In [56]:
#to find largest even and largest odd in the list
n=int(input())
b=[]
for i in range(n):
    a = int(input())
    b.append(a)
c=[]
d=[]
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
print("the largest even number is:",c[-1])
print("the largest odd number is:",d[-1])

 3
 3
 56
 99

the largest even number is: 56
the largest odd number is: 99

In [30]:
#list separating from existing list
list1 = list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [48]:
list2 = list(range(1,11))
even = list2[1::2]
print(list2)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [60]:
#union
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = a+b
print(c)

 99 87 67 56
 45 83 23 23

[99, 87, 67, 56, 45, 83, 23, 23]

In [62]:
a = list(map(int,input().split()))
b = list(map(int,input().split()))
union = list(set().union(a,b))
print("The union of two sets is:",union)

 78 99 67 54
 67 54 32 23

The union of two sets is: [32, 67, 99, 78, 54, 23]