In [2]:
empty_tuple =()
print (empty_tuple)

()

In [4]:
value_tuple = 25,45,32
print(value_tuple)

(25, 45, 32)

In [6]:
value_tuple2 = (2.69,18,'apple')
print(value_tuple2)

(2.69, 18, 'apple')

In [16]:
tuple = ('hello')
print(tuple, type(tuple))

hello <class 'str'>

In [14]:
tuple = ('hello',)
print(tuple, type(tuple))

('hello',) <class 'tuple'>

In [18]:
#we cannot change the values in tuple ,hence its an error
value_tuple = (26,45,'hello')
value_tuple[1] = 7
print(tuple_value)

TypeError: 'tuple' object does not support item assignment

In [30]:
value1_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")
print(value1_tuple+value2_tuple)

(25, 45, 'hello', 7, 5.5, 'python')

In [28]:
value1_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")
value3_tuple = value1_tuple,value2_tuple
print(value3_tuple)

((25, 45, 'hello'), (7, 5.5, 'python'))

In [32]:
value_tuple = (25,45,'hello')*2
print(value_tuple)

(25, 45, 'hello', 25, 45, 'hello')

In [34]:
#accessing values in tuple
value_tuple = (25,45,'hello')
value2_tuple = (7,5.5,"python")

In [38]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[3])

7.5

In [40]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[0:])

(25, 45, 'hello', 7.5)

In [74]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:4])

(45, 'hello', 7.5)

In [50]:
value_tuple = (25,45,'hello',7.5)
print(value_tuple[-1])

7.5

In [76]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1::1])

(45, 'hello', 7.5, 'z', 5, 6.9)

In [78]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1::3])

(45, 'z')

In [80]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[-1::-2])

(6.9, 'z', 'hello', 26)

In [82]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:6:2])

(45, 7.5, 5)

In [84]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:3:2])

(45,)

In [86]:
#deleting the tuple
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1])
print(value_tuple)

45
(26, 45, 'hello', 7.5, 'z', 5, 6.9)

In [92]:
value_tuple = (26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1])
del(value_tuple)

45