In [8]:

def Addition(a,b):
    t=a+b
    print(t)
a = int(input())
b = int(input())
Addition (a,b)

 2
 9

11

In [24]:
def sub(a,b):
    t=a-b
    print(t)
a = int(input())
b = int(input())
sub(a,b)

 20
 10

10

In [34]:
def fact(a):
    for i in range(1,a):
        a*=i
    print(a)
fact(2)
fact(5)

2
120

In [36]:
def fact(a):
    for i in range(1,a):
        a*=i
    print(a)
fact(20)
fact(4)

2432902008176640000
24

In [12]:
a=int(input())
b=int(input())
c=0
for i in range (1,b+1):
    c=a*i
    print(a,'*',i,'=',c)

 2
 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [22]:
def fun():
  print("welcome to python")
fun()

welcome to python

In [50]:
def sum(n1,n2):
    s=n1+n2
    return s
n1=int(input("give the value"))
n2=int(input("give the value"))
print(sum(n1,n2))

give the value 5
give the value 2

7

In [52]:

sum=lambda n1,n2:n1+n2
x=int(input("give the value"))
y=int(input("give the value"))
print(sum(x,y))

give the value 5
give the value 10

15

In [58]:
def sum(n1,n2):
    s=n1+n2
    return s
x=int(input())
y=int(input())
print(sum(x,y))

 8
 99

107

In [60]:
for i in range(0,4):
    i+=1
    print(i)

1
2
3
4

In [62]:
total=0
def sum(arg1,arg2):
    total=arg1+arg2;
    print("inside the function local total:",total)
    return total;
sum(10,20);
print("outside the fuction local total:",total)

inside the function local total: 30
outside the fuction local total: 0

In [70]:
import math
a=int(input())
b=int(input())
print(max(a,b))

 100
 20

100

In [72]:
a=int(input())
b=int(input())
print(min(a,b))

 55
 96

55

In [76]:
a=int(input())
if a%2==0:
    print("the number is even")
else:
    print("the number is odd")

 55

the number is odd

In [2]:
n=int(input())
if n%2==0:
    print("even")
else:
    print("odd")

 2

even

In [20]:

x = int(input("enter the value"))
y = int(input("enter the value"))
z = int(input("enter the value"))
def num(x,y,z):
    return x+y+z,x*y*z
     
num(x,y,z)

enter the value 10
enter the value 20
enter the value 30

(60, 6000)

In [26]:
a = int(input("enter the 1st value"))
b = int(input("enter the 2nd value"))
c = int(input("enter the 3rd value"))
def num(a,b,c):
    if a>b:
        print("a is greater")
    elif b>c:
        print("b is greater")
    else:
        print("c is greater")
num(a,b,c)

enter the 1st value 10
enter the 2nd value 11
enter the 3rd value 11

c is greater

In [32]:
a = int(input())
first = a//10
second = a%10
print("first digit:",first)
print("second digit:",second)

result = (first+second)+(first*second)
print("result:",result)

 19

first digit: 1
second digit: 9
result: 19

In [8]:
n = int(input())
string_num = str(n)
print (n)

 10

10

In [2]:
n = input()
n2 = input()
if (n==n2):
    print("same")
else:
    print("differ")

 10
 20

differ

In [6]:
n = int(input())
if (n%7==0):
    print("yes")
else:
    print("No")

 21

yes

In [62]:
N = int(input())
L = int(input())
R = int(input())
if (N<=L,N<=R and R>N):
    print("yes")
else:
    print("no")

 7
 10
 7

yes

In [4]:
a = "hello world"
print(a[:2])

he

In [56]:
a = int(input())
b = int(input())
c = int(input())
if a>b and a<c:
    print("a is the second largest")
elif b>a & b<c:
    print("b is the second largest")
elif c>a & c<b:
    print("c is the second largest")

 10
 20
 30

b is the second largest

In [48]:
a = int(input())
if (a>0 or a<0):
    if (a%2==0 and a>0):
        print("even and positive integer")
    elif (a%2!=0 and a<0):
        print("odd and negative integer")
    elif (a<0):
        print ("negative number")
else: 
    print("zero")

 -3

odd and negative integer

In [2]:
x=[2,3,4,5,6]
print(x)

[2, 3, 4, 5, 6]

In [6]:
y=[5.1,5.7,9.0,54.0]
print(y)

[5.1, 5.7, 9.0, 54.0]

In [8]:
c=["a","b","c"]
print(c)

['nandu', 'preethi', 'anu']

In [10]:
d=["apple","banana","orange"]
print(d)

['apple', 'banana', 'orange']

In [12]:
e=['orange',2,'a',3.2]
print(e)

['orange', 2, 'a', 3.2]

In [20]:
x=[["a","b"],[2,45]]
print(x)

[['a', 'b'], [2, 45]]

In [47]:
y=('nandu','preethi',['a','b'],["apple","banana"])
print(y)
print(y[0])

('nandu', 'preethi', ['a', 'b'], ['apple', 'banana'])
nandu

In [41]:
a=list("python")
print(a)

['p', 'y', 't', 'h', 'o', 'n']

In [55]:
a = 'we are data scientist'
print(a[::2])

w r aasinit

In [2]:
num=[1,2,3,4]
print(num)
a,*other=num
print(a)

[1, 2, 3, 4]
1

In [10]:
num=[1,2,3,4]
print(num)
a,b,*other=num
print(a,b)
print(other)

[1, 2, 3, 4]
1 2
[3, 4]

In [12]:
a = ['apple','banana','grape','orange','kiwi']
for i in a:
    print(i)

apple
banana
grape
orange
kiwi

In [20]:
a = ['apple','banana','grape','orange','kiwi']
for i in a:
    if (i=='orange'):
        continue
    print(i)

apple
banana
grape
kiwi

In [22]:
a = ['apple','banana','grape','orange','kiwi']
for i in a:
    if (i=='orange'):
        break
    print(i)

apple
banana
grape

In [32]:
a = [2,4,6,8,10]
for i in a:
    mul=i*5
    print(mul)

10
20
30
40
50

In [34]:
num = [2,4,6,8]
print(num)
num.append(10)
print(num)

[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [38]:
num=[7,8]
num.append(9)
print(num)

[7, 8, 9]

In [44]:
num=[1,2,3,4]
str=['python']
x=num+str
y=str+num
print(x)
print(y)

[1, 2, 3, 4, 'python']
['python', 1, 2, 3, 4]

In [46]:
num = [1,2,3,4]
str = ['python']
num.extend(str)
print(num)

[1, 2, 3, 4, 'python']

In [54]:
str = ['python']
num = [1,2,3,4]
num.extend(num)
print(str)

['python']

In [56]:
num = [1,2,3,4]
str = ['python']
num.extend(str)
num.insert(4,'list')
print(num)

[1, 2, 3, 4, 'list', 'python']

In [58]:
num = [1,2,3,4]
str = ['python']
num.extend(str)
num.insert(0,'nandu')
print(num)

['nandu', 1, 2, 3, 4, 'python']

In [64]:
num = [1,2,3,4]
str = ['python']
num.extend(str)
num.remove('python')
print(num)

[1, 2, 3, 4]

In [68]:
a = [99,45,78,36,23,43]
a.sort()
print(a)

[23, 36, 43, 45, 78, 99]

In [70]:
a = ['z','x','r','t','e']
a.sort()
print(a)

['e', 'r', 't', 'x', 'z']

In [72]:
a = [99,45,78,36,23,43]
a.sort(reverse=True)
print(a)

[99, 78, 45, 43, 36, 23]

In [74]:
a = [99,45,78,36,23,43]
a.sort(reverse=False)
print(a)

[23, 36, 43, 45, 78, 99]

In [76]:
a = [99,45,78,36,23,43]
print(len(a))

6

In [78]:
a = [99,45,78,36,23,43]
print(min(a))

23

In [80]:
a = [99,45,78,36,23,43]
print(max(a))

99

In [1]:
a = [99,45,78,36,23,43]
print(sum(a))

324

In [3]:
a = [99,45,78,36,23,43]
print(sum(a)/len(a))

54.0

In [88]:
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
list1 = list(range(1,11))
print(list1)
odd = list1[::2]
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [105]:
list1 = list(range(1,11))
print(list1)
even = list1[1::2]
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [107]:
list1 = list(range(1,11))
print(list1)
odd = list1[::3]
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

In [34]:

for i in range(4):
    print('*' * 4)

****
****
****
****

In [54]:
for i in range(4):
    print('*' * 4 )

****
****
****
****

In [64]:
for i in range(4):
    for j in range(i):
        print('*' * 4)

****
****
****
****
****
****

In [83]:
n=4
for i in range(n - 1,0, -4):
    print(' ' * (n - i) + '*' * n)

 ****

In [95]:
\

SyntaxError: incomplete input (3477860531.py, line 1)

In [111]:
for i in range(1,5):
    print("*" *4)

****
****
****
****

In [157]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [183]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [205]:
for i in range(1, 5):
    print(  ' ' * (5 - i)+'*' * (2 * i - 1))

    *
   ***
  *****
 *******

In [209]:
for i in range(4):
    for j in range(1):
        print(' '*i, '*'*4)

 ****
  ****
   ****
    ****

In [221]:
n=6
for i in range(1,6):
    for j in range(1):
        print(''*(n-1),i*'*') 
        n=n-1

 *
 **
 ***
 ****
 *****

In [28]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end="")
    print()

*
**
***
****
*****

In [44]:
n=6
for i in range(n):
    for j in range(1,n+1):
        print('*',end="")
    print()

******
******
******
******
******
******

In [38]:
n=5
for i in range(n):
    for j in range(i,n+1):
        print('*',end="")
    print()

******
*****
****
***
**

In [42]:
n = 6
for i in range(1,n+1):
    for j in range(i,n+i):
        print("*",)
    print()

*
*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*

In [46]:
n=4
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end="")
    print()

*
**
***
****

In [56]:
n=10
for i in range(n):
    for j in range(1,n-i):
        print('*',end="")
    print()

*********
********
*******
******
*****
****
***
**
*

In [78]:
n=5
for i in range(n):
    for j in range(1,n-i):
        print('*' * i)
    print()

*
*
*

**
**

***

In [117]:
for i in range(5):
    print("*"*i)

*
**
***
****

In [121]:
n=4
for i in range(n):
    for j in range(n+1):
        print('*',end="")
    print()

*****
*****
*****
*****

In [5]:
n=4
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*',end="")
        else:
            print(" ",end="")
    print()

****
*  *
*  *
****

In [194]:
def hallow_square(n):
    for i in range(n):
        for j in range(n):
            if i==0 or i==n-1 or j==0 or j==n-1:
                print('*',end="")
            else:
                print(" ",end="")
        print() 
    
n=3  
hallow_square(n)

***
* *
***

In [180]:
def print_hollow_square_star_pattern(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n-1 or j == 0 or j == n-1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
n = 4
print_hollow_square_star_pattern(n)

* * * *
*     *
*     *
* * * *

In [15]:
n=4
for i in range(n):
    for j in range(n):
        if (i==0 or i==n-1 or j==0 or j==n-1):
            print("*", end='')
        else:
            print(" ", end='')
    print()

****
*  *
*  *
****

In [23]:
n=6
for i in range(1,6):
    for j in range(1):
        print(" "*(n-1),i*" *")
        n=n-1

       *
      * *
     * * *
    * * * *
   * * * * *

In [25]:
n=6
for i in range(1,6):
    for j in range(1):
        print(" "*(n-1),i*"*")
        n=n-1

      *
     **
    ***
   ****
  *****